*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: black;
}
.container{
    height: 60vh;
    width: 30vw;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    perspective: 1000px;
}
.box{
    height: 250px;
    width: 250px;
    position: absolute;
    top: 100px;
    left: 100px;
    transform-style: preserve-3d;
    transform: rotatex(30deg);
}
.card{
    height: 250px;
    width: 250px;
    text-align: center;
    padding: 100px 0px;
    color: white;
    background: purple;
    border: 2px solid white;
    font-size: 32px;
    box-sizing: border-box;
    position: absolute;
}
#front{
    transform: translateZ(125px);
}
#back{
    transform: translateZ(-125px); 
}
#left{
    right: 125px;
    transform: rotatey(-90deg);
}
#right{
    left: 125px;
    transform: rotatey(90deg);
}
#top{
    bottom: 125px;
    transform: rotatex(90deg);
}
#bottom{
    top: 125px;
    transform: rotatex(-90deg);
}